source http://nuget-cache.ai-traders.com/api/cache/v3/index.json

nuget Carter
nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Autofac
nuget Autofac.Extensions.DependencyInjection
